<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <div class="wrapper">
        <div class="top adjust">
        <h3 class="show_title"><%= @viewing_user.first_name%> <%= @viewing_user.last_name%></h3>
        <a class="navigation_bar" href="/portfolio/index/">Home</a>
        <a class="navigation_bar" href="/session/destroy/">Logout</a>
        </div>
        <div class="show_middle">
            <div class="user_profile">
            <h2 class="text-dec">User Information</h2>
            <div class="inner_profile">
                <h4><span class="text-dec">First name: </span>  <%= @viewing_user.first_name %></h4>
                <h4><span class="text-dec">Last name:  </span>  <%= @viewing_user.last_name %></h4>
                <h4><span class="text-dec">Email:</span>   <%= @viewing_user.email %></h4>
                <h4><span class="text-dec">Member Since: </span> <%= @viewing_user.created_at %></h4>
                </div>
            </div>
            <div class="portfolio_profile">
                    <h2 class="text-dec">Portfolio Information</h2>
                <div class="inner_profile">
                    <h4><span class="text-dec">>Job Title:</span>  <%= @viewing_user.JobTitle %></h4> 
                    <h4><span class="text-dec">>Start Date:</span> <%= @viewing_user.startDate %></h4>
                    <h4><span class="text-dec">>End Date:</span> <%= @viewing_user.endDate %></h4>
                    <h4><span class="text-dec">>Description:</span> <%= @viewing_user.description %></h4>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>